body {
  background: #f7efef;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #ffffff;
  margin: 16px auto;
  border:10px solid white;
}

.title {
  background: #98c6e6;
}

.content {
  padding: 100px;
  margin:16px;
  background: #98c6e6;
}

.button-container {
  padding: 100px;
  margin:16px;
  background: #98c6e6;
}

button {
  display:block;
  background: white;
  border: 1px solid #eee;
}